<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body>
  <h1>Edit Completed.</h1>
  <h2><a href="{% url 'index' %}">Back to Index</a></h2>
  <h2><a href="{% url 'calendar_list' %}">Back to Event List</a></h2>
</form>
</body>
</html>
