<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body>
  <h1>Event</h1>
  <h1>User: {{ object.user }}</h1>
  <h1>Class Name: {{ object.class_name }}</h1>
  <p>Class Date: {{ object.class_date }}</p>
  <p>Class Url: {{ object.class_url }}</p>
  <p>Notes: {{ object.note }}</p>
  <a href="{% url 'calendar_delete' pk=object.pk %}">Delete</a>
  <a href="{% url 'calendar_edit' pk=object.pk %}">Edit</a>
</body>
</html>
